* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
  
}

main {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    gap:1rem;
}

.box {
    width: 250px;
    height: 150px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    transition: 0.3s ease;
}

 h2 {
   position: fixed;
   top: 48%;
   left:40%;
  
   background: yellow;
}

button {
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    background-color: #ff6b6b;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
    position: fixed;
    top:64%;
    left:44%;
}

button:hover {
    background-color: #ff4757;
}

button:active {
    transform: scale(0.95);
}
